.grocery-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.form-control {
  display: flex;
}

.form-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}

.btn {
  padding: 8px 12px;
  background: #06b6d4;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #0e7490;
}
